{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
	<div style="padding: 10px; margin-left: 10px;">
		{% if not subscription %}
			{% if author != request.user %}
			<a href="{% url 'subs' username=username %}">Подписаться</a>
		{% endif %}
		{% else %}
			<a href="{% url 'unsubs' username=username %}">Отписка</a>
		{% endif%}

	<h1 align="center">Блог:</h1>
	<br><br>
		{% for post in posts %}
		<div>
			 <h1>{{ post.author }}: </h1>
			 <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> - {{ post.date }}</h1>
			 <p>{{ post.text }}</p>
		</div>
		<br><br>
		{% endfor %}
	</div>
{% endblock %}